name: Deploy Hugo to GitHub Pages

on:
    push:
        branches:
            - main
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v3
              with:
                fetch-depth: 0

            - name: Setup Hugo
              uses: peaceiris/actions-hugo@v3
              with:
                hugo-version: latest
                extended: true

            - name: Build
              run: hugo --minify

            - name: Deploy to gh-pages
              uses: peaceiris/actions-gh-pages@v4
              with:
                personal_token: ${{ secrets.GH_DEPLOY }}
                publish_dir: ./public
                publish_branch: main
                external_repository: MirikaRyu/mirikaryu.github.io
                commit_message: "Deployed from GitHub Actions"